@{
    ViewData["Title"] = "Register";
}
@model RegisterUserVM

<h1 class="mt-2">Register</h1>

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="@Model.Username" for="name" class="form-label">Name</label>
        <input asp-for="@Model.Username" class="form-control name-input" id="name" />
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Password" for="password" class="form-label">Password</label>
        <input asp-for="@Model.Password" class="form-control name-input" id="password" />
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Image" for="imageurl" class="form-label">Image Url</label>
        <input asp-for="@Model.Image" type="file" class="form-control" id="imageurl">
    </div>
    <button asp-action="Register" asp-controller="Account" type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="mb-3">
    <div>Go to <a href="/Account/Login">Login page</a></div>
</div>